#content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#fade {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    display: none;
    opacity: .70;
    background-color: black;
    z-index: 90;
}
/* Used to center absolute positioned #question box. Intially hidden. */
#question-outer {
    position: absolute;
    right: 50%;
    top: 20px;
    width: 80%;
    display: none;
    z-index: 100;
}
/* Where all question content goes. */
#question {
    position: relative;
    right: -50%;
    background-color: white;
    border: 3px solid black;
    padding: 10px 20px 40px;
}
/* Just for the question text and options. The submit form is not included in this. */
#question-inner {
    font-family: Cambria, serif;
}
#question img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Each question is displayed on page with its value, text, options, and answer. All but the value is initially hidden. */
.question-text, .question-options, .question-answer, .question-topic {
    display: none;
}
#answer {
    display: none;
    margin-left: 10px;
    font-weight: bold;
}
table#questions {
    width: 70%;
    height: 100%;
    float: right;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;
}
table#questions th {
    height: 60px;
    vertical-align: bottom;
}
table#questions td.question {
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #5BCAFF;
    background-image: linear-gradient(#55EFCB, #5BCAFF);
}
table#questions td.question-disabled {
    font-size: 1.5em;
    text-align: center;
    cursor: not-allowed;
    border-radius: 5px;
    background-image: linear-gradient(#F7F7F7, #D7D7D7);
}
#left {
    width: 30%;
    float: left;
    margin-top: 80px;
}
form#level-select-form {
	color: #777;
    position: absolute;
    bottom: 10px;
}
form#level-select-form label {
	margin-top: 10px;
}
ul#team-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul#team-list li {
    line-height: 2em;
}
.team-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.team-name {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
}
li.team-current {
    /*font-size: 1.2em;*/
    font-weight: bold;
}
input.edit-team-input {
	width: 130px;
}
.button-xsmall {
	font-size: 70%;
	width: 20px;
	padding-left:0px;
	padding-right:0px;
	margin-left: 5px;
	margin-right: 5px;
}
button#team-add {
	margin-top: 10px;
}
button#team-done {
	margin-left: 5px;
}