#content
{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
#fade
{
    position: absolute;
    z-index: 90;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .70;
    background-color: black;
}
/* Used to center absolute positioned #question box. Intially hidden. */
#question-outer
{
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 50%;

    display: none;

    width: 80%;
}
/* Where all question content goes. */
#question
{
    position: relative;
    right: -50%;

    padding: 10px 20px 40px;

    border: 3px solid black;
    background-color: white;
}
/* Just for the question text and options. The submit form is not included in this. */
#question-inner
{
    font-family: Cambria, serif;
}
#question img
{
    display: block;

    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}
/* Each question is displayed on page with its value, text, options, and answer. All but the value is initially hidden. */
.question-text,
.question-options,
.question-answer,
.question-topic
{
    display: none;
}
#answer
{
    font-weight: bold;

    display: none;

    margin-left: 10px;
}
table#questions
{
    float: right;

    width: 70%;
    height: 100%;

    table-layout: fixed;
    border-spacing: 10px;
    border-collapse: separate;
}
table#questions th
{
    height: 60px;

    vertical-align: bottom;
}
table#questions td.question
{
    font-size: 1.5em;

    cursor: pointer;
    text-align: center;

    border-radius: 5px;
    background-color: #5bcaff;
}
table#questions td.question-disabled
{
    font-size: 1.5em;

    cursor: not-allowed;
    text-align: center;

    border-radius: 5px;
    background-color: #d6cec3;
}
#left
{
    float: left;

    width: 30%;
    margin-top: 80px;
}
form#options-form
{
    position: absolute;
    bottom: 10px;
}
form#options-form label
{
    display: inline-block;

    width: 50px;
    margin-top: 10px;
    margin-right: 5px;

    text-align: right;
}
ul#team-list
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}
ul#team-list li
{
    line-height: 2em;
}
.team-color
{
    font-size: 1em;
    line-height: 24px;

    vertical-align: middle;

    width: 16px;
    height: 24px;
    margin: 0 5px 0 0;
    padding: 0;
}
.team-name
{
    font-size: 1em;
    line-height: 24px;

    display: inline-block;

    width: 150px;
    height: 24px;
    margin-right: 10px;
}
.team-score
{
    font-size: 1em;
    line-height: 24px;

    display: inline-block;
}
li.team-current
{
    /*font-size: 1.2em;*/
    font-weight: bold;
}
input,
button
{
    line-height: normal;

    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box; /* or `border-box` */
            box-sizing: content-box;
    height: 24px;
    margin: 0;

    vertical-align: middle;

    border: 1px solid gray;
    border-radius: 2px;
}
#teams input[type='text']
{
    width: 114px;
}
input
{
    padding: 0 .3em 0 .3em;
}
button
{
    font-size: .8em;
    font-weight: bold;

    padding: 0 .5em 0 .5em;

    background-color: #f7f7f7;
}
button:active
{
    background-color: #d7d7d7;
}
button#team-add
{
    margin-top: 10px;
}
button#team-done
{
    margin-top: 10px;
    margin-left: 5px;
}
button.team-remove
{
    font-size: 1em;

    width: 10px;
    margin: 0 5px 0 5px;

    border-width: 0;
    background: url('../img/trash_24.png') no-repeat center center;
    background-color: transparent;
    background-size: 24px 24px;
}
button.team-remove:active
{
    background: url('../img/trash_selected_24.png') no-repeat center center;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{
    button.team-remove
    {
        background: url('../img/trash_48.png') no-repeat center center;
    }
    button.team-remove:active
    {
        background: url('../img/trash_selected_48.png') no-repeat center center;
    }
}
